<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>DemoApp</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div align="center" class="d-block">
    <div>
     <img src="https://www.garwan.com/assets/images/logo_retina/logo_color.png">
    </div>
    <div>
        <a href="/listProducts" class="btn btn-warning spec-btn"><span> Show products </span></a>
    </div>
    </div>
</body>
</html>